@import "../../assets/scss/variable.scss";

/*=====================================================*/
/* Modern Banner 02 */
/*=====================================================*/
.modern-banner-2 .banner-bg .banner-content {text-align: left; max-width: none; color: inherit; padding: 0; padding-bottom: 100px;}
.modern-banner-2 .banner-bg {background: url(../../assets/images/banner/modern-home2/banner-bg-map.webp); background-repeat: no-repeat;  background-position: 112% 40px; background-size: 800px;
    align-items: flex-end; padding-top: 80px; overflow: visible;}
.modern-banner-2 .banner-bg .banner-content {padding-bottom: 100px;}

.modern-banner-2 h2 {font-size: 70px; line-height: 76px; font-family: var(--title-font); font-weight: 500; text-transform: capitalize;}
.modern-banner-2 h3 {font-size: 30px; color: $primary-color; line-height: 40px; text-align: left; margin: 20px 0; font-weight: 500; text-transform: capitalize;}
.modern-banner-2 p {margin-bottom: 30px; padding-right: 80px;}
.modern-banner-2 .banner-car img {position: relative; z-index: 1; margin-bottom: -160px; margin-left: -270px; width: 860px; height: auto;}

/*==========================================================*/
/* Responsive CSS */
/*==========================================================*/
@media only screen and (max-width: 1399px) {
  .modern-banner-2 .banner-bg {
      background-position: 100% 40px;
  }
  .modern-banner-2 .banner-bg {
      background-position: 100% 40px;
  }
}

@media only screen and (max-width: 1199px) {
  .modern-banner-2 .banner-car img {
    margin-bottom: -80px;
    width: 560px;
  }
  .modern-banner-2 h2 {
      font-size: 60px;
      line-height: 66px;
  }
}

@media only screen and (max-width: 992px) {
  .modern-banner-2 .banner-bg {
    background-position: 100% 250px;
    background-size: 500px;
  }
  .modern-banner-2 .banner-bg .banner-content {
      padding-bottom: 20px;
  }
  .modern-banner-2 .banner-car img {
      margin-bottom: -60px;
      width: auto;
      max-width: 85%;
      margin-left: 15%;
  }
  .modern-banner-2 h2 {
      font-size: 50px;
      line-height: 56px;
  }
}

@media only screen and (max-width: 767px) {
  .modern-banner-2 .banner-bg {
      background-position: 100% 250px;
      background-size: 0px;
      padding-top: 60px;
  }
  .modern-banner-2 h2 {
      font-size: 42px;
      line-height: 48px;
  }
  .modern-banner-2 h3 {
      font-size: 24px;
      line-height: 34px;
  }
  .modern-banner-2 h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 575px) {
  .modern-banner-2 p {
      padding-right: 0px;
  }
}