@import '../../assets/scss/variable.scss';

/*===========================================*/
/* Search Block New */
/*===========================================*/
.search-block.search-block-new {background: #ffffff; box-shadow: 0 10px 50px rgba(0,0,0,0.05); padding: 45px 45px 45px 45px; margin-top: -100px; border: none; border-radius: 7px;}
.search-block.search-block-new [class*=col-] > span {font-size: 15px; line-height: 22px;}
.search-block.search-block-new .select {height: 45px; line-height: 45px; margin-bottom: 20px; vertical-align: top;}
.search-block.search-block-new .select-styled {padding: 0 30px 0 12px; line-height: 45px;}
.search-block.search-block-new .select-styled:after {top: 20px; border-width: 6px;}

/* Counter Section */
.new-counter-box {margin-top: -125px;}

/*==========================================================*/
/* Responsive CSS */
/*==========================================================*/
@media only screen and (max-width: 767px) {

    .search-block.search-block-new {
        margin-top: -50px;
    }
}