@import '../../assets/scss/variable.scss';

/*----------------------------------------------------*/
/* Blog Elements */
/*----------------------------------------------------*/
/* Entry Meta*/
.blog-post.blog-entry .post-title a {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: $title-color;
  margin-bottom: 15px;
  display: block;
}

.blog-post.blog-entry .post-title a:hover {
  color: $primary-color;
}

.blog-post.blog-entry .post-image {
  margin-bottom: 20px;
}

.blog-post.blog-entry .entry-meta {
  margin-bottom: 15px;
}

.blog-post.blog-entry .entry-meta ul {
  display: flex;
  gap: 12px;
  align-items: center;
}
.blog-post.blog-entry .entry-meta ul li {
  display: inline-block;
}

.blog-post.blog-entry .entry-meta ul li:not(:last-child):after {
  content: "/";
  font-size: 0.9em;
}

.blog-post.blog-entry .entry-meta ul li a {
  margin-right: 12px;
  color: $gray-color;
}

.blog-post.blog-entry .entry-meta ul li a i {
  font-size: 14px;
  color: $primary-color;
  padding-right: 7px;
}

.blog-post.blog-entry .entry-meta ul li a:hover {
  color: $primary-color;
}

/*entry-content*/
.blog-post.blog-entry .entry-content p {
  margin-bottom: 20px;
}

.entry-share .share > a {
  padding: 8px 15px;
  display: inline-block;
  background: $primary-color;
  color: $white-color;
}

.entry-share .share .news-social {
  right: 10px;
}

.entry-share .share .news-social li a {
  margin: 2px 0px;
}

.blog-post.blog-entry hr {
  margin: 60px 0;
}

/* Share */
.entry-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share {
  position: relative;
  cursor: pointer;
}
.share .blog-social {
  position: absolute;
  bottom: 5px;
  right: 0;
  transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  opacity: 0;
  z-index: -1;
}
.share .blog-social li a {
  padding: 5px 0;
  width: 30px;
  height: 30px;
  background: $primary-color;
  border-radius: 50%;
  text-align: center;
  display: flex;
  color: $white-color;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}
.share .blog-social li a:hover {
  color: $white-color;
  background: $title-color !important;
}
.share:hover .blog-social {
  opacity: 1;
  bottom: 71px;
  z-index: 1;
}
.share .blog-social a:hover i {
  color: $white-color;
}
.share .blog-social ul {
  list-style-type: none;
}
.share .blog-social {
  right: 5px;
  bottom: 44px;
}
.blog-wrapper.grid-wrapper {
  grid-gap: 40px 30px;
}

/*-------------------------------*/
/* Post Style 2*/
/*-------------------------------*/
.blog-2 .blog-image {
  position: relative;
}

.blog-2 .blog-image .post-date {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px 20px;
  background: $primary-color;
  font-size: 14px;
  line-height: 18px;
  color: $white-color;
  font-weight: 600;
  display: flex;
  gap: 5px;
  text-transform: uppercase;
}

.blog-2 .blog-content {
  background: $white-color;
  position: relative;
  margin: -20px 10px 0;
  border: 1px solid $border-color;
}

.blog-2 .blog-admin-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-bottom: 1px solid $border-color;
}

.blog-2 .blog-content .blog-admin {
  display: flex;
  align-items: center;
  padding: 10px 0 4px;
}

.blog-2 .blog-content .blog-admin img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blog-2 .blog-content .blog-admin span {
  margin-left: 15px;
  display: inline-block;
}

.blog-2 .blog-content .blog-meta ul li {
  display: inline-block;
  text-align: center;
  border-left: 1px solid $border-color;
  padding: 6px 20px;
  line-height: 30px;
}

.blog-2 .blog-content .blog-meta ul li a {
  color: $primary-color;
  cursor: pointer;
}

.blog-2 .blog-content .blog-meta ul li a span {
  display: block;
}

.blog-2 .blog-content .blog-meta ul li a:hover {
  color: $title-color;
}
.blog-2 .blog-content .blog-meta ul li.share ul li {
  border-left: 0px;
  padding: 1px 10px;
}

.blog-2 .blog-content .blog-meta ul li.share ul li a {
  color: $white-color;
}

.blog-2 .blog-description {
  padding: 20px;
  text-align: center;
}

.blog-2 .blog-description a {
  margin-bottom: 15px;
  font-size: 16px;
  display: block;
  color: $secondary-color;
  font-weight: 600;
  text-transform: uppercase;
}

.blog-2 .blog-description a:hover {
  color: $primary-color;
}

.blog-2 .blog-description .separator {
  margin-bottom: 15px;
}

.blog-2 .blog-description .separator:after {
  width: 50px;
  display: block;
  margin: auto;
  content: '';
  height: 1px;
  background: $primary-color;
  bottom: 0px;
  left: 50%;
  transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -webkit-transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -o-transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -ms-transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -moz-transition:
    width 0.8s ease,
    background-color 0.8s ease;
}

.blog-2 .blog-description .separator:before {
  content: '';
  display: block;
  margin: auto;
  left: 50%;
  height: 1px;
  width: 30px;
  bottom: -10px;
  background: $primary-color;
  transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -webkit-transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -o-transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -ms-transition:
    width 0.8s ease,
    background-color 0.8s ease;
  -moz-transition:
    width 0.8s ease,
    background-color 0.8s ease;
  margin-bottom: 4px;
}

.blog-2:hover .separator:before {
  width: 50px;
  left: 0;
  background: $black-color;
}

.blog-2:hover .separator:after {
  width: 30px;
  left: 0;
  background: $black-color;
}

.latest-blog.border .blog-2 .blog-content {
  border: 1px solid $border-color;
}

/*-------------------------------*/
/* Post Style 3 */
/*-------------------------------*/
.blog-post-3 {
  border: 1px solid #e8e8e8;
  background: #ffffff;
}
.blog-post-3 .blog-image {
  position: relative;
}
.blog-post-3 .blog-image .post-date {
  position: absolute;
  top: 20px;
  right: 20px;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 90px;
  justify-content: center;
}
.blog-post-3 .blog-image .post-date .day {
  font-size: 34px;
  font-weight: 600;
  color: #ffffff;
  line-height: 34px;
}
.blog-post-3 .blog-image .post-date .month {
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
}

.blog-post-3 .blog-content {
  padding: 40px;
}
.blog-post-3 .blog-content .post-category {
  display: block;
  margin-bottom: 7px;
}
.blog-post-3 .blog-content .post-category span {
  color: #969696;
  font-size: 14px;
  text-transform: uppercase;
  transition: all .25s ease-out 0s;
}
.blog-post-3 .blog-content .post-title {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 15px;
  font-weight: 500;
}
.blog-post-3 .blog-content .post-title a {
  transition: all .25s ease-out 0s;
}

/* Post Link */
.blog-post-3 .blog-content .post-link,
.blog-post-4 .blog-content .post-link,
.blog-post-3 .blog-content .post-link:hover,
.blog-post-4 .blog-content .post-link:hover {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $primary-color;
  line-height: 28px;
}
.blog-post-3 .blog-content .post-link:after,
.blog-post-4 .blog-content .post-link:after {
  content: "";
  width: 0;
  height: 1px;
  background: $primary-color;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: $transition;
}
.blog-post-3 .blog-content .post-link:hover:after,
.blog-post-4 .blog-content .post-link:hover:after {
  width: 100%;
}

/*-------------------------------*/
/* Post Style 4 */
/*-------------------------------*/
.blog-post-4.blog-post-list.first-large .blog-content {
  margin-top: 15px;
}
.blog-post-4.blog-post-list.first-large .post-title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: 500;
}

.blog-post-4.blog-post-list:not(.first-large)  {
  display: flex;
  gap: 30px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e8e8e8;
}
.blog-post-4.blog-post-list:not(.first-large):last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.blog-post-4.blog-post-list:not(.first-large) .blog-image {
  width: 130px;
  height: 140px;
  flex: none;
  min-height: inherit;
}
.blog-post-4.blog-post-list:not(.first-large) .blog-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blog-post-4.blog-post-list:not(.first-large) .blog-content {
  width: 100%;
  align-self: center;
}
.blog-post-4.blog-post-list .post-date {
  color: #969696;
  font-size: 16px;
  margin-bottom: 7px;
}
.blog-post-4.blog-post-list:not(.first-large) .post-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}
.blog-post-4.blog-post-list .post-title a {
  transition: all .25s ease-out 0s;
}

/*----------------------------------------------------*/
/* Blog Slider */
/*----------------------------------------------------*/

.blog-post.blog-entry.blog-slider .entry-content .entry-description p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

/*----------------------------------------------------*/
/* Blog Page Type */
/*----------------------------------------------------*/
.sticky-post .post-image:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 45px 45px 0;
  border-color: transparent $primary-color transparent transparent;
}
.sticky-post .post-image:before {
  content: '\f08d';
  position: absolute;
  top: 9px;
  right: 8px;
  z-index: 2;
  font-family: 'Font Awesome 5 free';
  color: $white-color;
  font-size: 13px;
  font-weight: 900;
  line-height: normal;
  transform: rotate(45deg);
}

/*----------------------------------------------------*/
/* 1st Blog Post Large */
/*----------------------------------------------------*/
.grid-wrapper.blog-post-large {
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
}
.grid-wrapper.blog-post-large .blog-post:first-child {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}
.grid-wrapper.blog-post-large,
.blog-wrapper.blog-single-col {
  display: grid;
  grid-gap: 25px 25px;
}

/*----------------------------------------------------*/
/* Blog Page Article */
/*----------------------------------------------------*/
article.blog-post .entry-title a {
  font-size: 22px;
  line-height: 30px;
}

/*----------------------------------------------------*/
/* Post Navigation */
/*----------------------------------------------------*/
.post-navigation {
  display: flex;
  gap: 10px 30px;
  margin: 50px 0;
  padding: 40px 0;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.post-navigation > div {
  flex: 0 0 calc(50% - 30px);
}
.post-navigation a {
  display: inline-flex;
  align-items: center;
  padding: 18px 30px;
}
.post-navigation a span {
  display: inline-block;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.post-navigation .nav-previous a:before {
  left: auto;
  right: 0;
}
.post-navigation .nav-next {
  text-align: right;
}

/*----------------------------------------------------*/
/* Latest News  */
/*----------------------------------------------------*/
.latest-news {
  display: flex;
  gap: 24px;
}
.latest-news .latest-news-image {
  width: 50%;
}
.latest-news .latest-news-info {
  width: 50%;
  padding-left: 30px;
}
.latest-news .latest-news-info .news-title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  line-height: 24px;
  font-size: 18px;
  color: $title-color;
  font-weight: 600;
  font-family: $title-font;
  display: block;
  margin-bottom: 20px;
}
.latest-news .latest-news-info .news-title:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background: $primary-color;
  left: 0px;
  bottom: 0px;
}

.latest-news .entry-meta ul {
  list-style-type: none;
  display: flex;
}

.latest-news .entry-meta ul li {
  text-transform: uppercase;
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}
.latest-news .entry-meta ul li::after {
  position: absolute;
  content: '';
  background-color: $body-color;
  width: 1px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.latest-news .entry-meta ul li:last-child::after {
  display: none;
}

.latest-news .entry-meta ul li.entry-meta-date .post-date {
  display: flex;
  gap: 5px;
}

.latest-news .entry-meta ul li.entry-meta-author {
  color: $primary-color;
  font-weight: bolder;
}

.latest-news .entry-description p {
  margin-top: 15px;
}

.latest-news .latest-news-info .button {
  margin-top: 10px;
}

/*----------------------------------------------------*/
/* Single Blog Page */
/*----------------------------------------------------*/
.blog-single .blog-entry-image {
  margin-bottom: 20px;
}

.blog-single .entry-content .entry-title {
  margin-bottom: 15px;
}
.blog-single .entry-meta {
  margin-bottom: 15px;
}
.blog-single .entry-meta ul {
  list-style-type: none;
}
.blog-single .entry-meta ul li {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
}
.blog-single .entry-meta ul li:after {
  position: absolute;
  content: '/';
  right: 0;
}
.blog-single .entry-meta ul li:last-child:after {
  display: none;
}

.blog-single .entry-meta ul li:last-child {
  padding-right: 0px;
  margin-right: 0px;
}
.blog-single .entry-meta ul li:last-child a {
  margin-right: 0;
}

.blog-single .entry-meta ul li a {
  margin-right: 5px;
  color: $gray-color;
}
.blog-single .entry-meta ul li a:hover {
  color: $primary-color;
}

.blog-single .entry-meta ul li a i {
  font-size: 14px;
  color: $primary-color;
  padding-right: 8px;
}

.blog-single blockquote {
  display: block;
  background: $white-color;
  position: relative;
  font-size: 14px;
  padding-left: 60px;
  border-left: 5px solid $border-light-color;
  font-style: italic;
  padding-right: 0px;
}

.blog-single .post-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  border: none;
}
.blog-single .post-navigation a {
  display: block;
  padding: 0;
}
.blog-single .post-navigation a .port-photo {
  display: flex;
  justify-content: center;
  line-height: 66px;
  height: 66px;
  width: 160px;
  background: #eeeeee;
  text-align: center;
}
.blog-single .post-navigation a .port-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.blog-single .post-navigation a .port-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 66px;
  text-align: center;
  background: $light-color;
  color: $title-color;
}

.blog-single .post-navigation a .port-arrow i {
  text-align: center;
  font-size: 25px;
  line-height: 66px;
}

.blog-single .post-navigation .port {
  display: flex;
  width: auto;
}

.blog-single .post-navigation .nav-next .port {
  justify-content: flex-end;
}

.blog-single .post-navigation .post-title {
  display: block;
  width: auto;
  font-size: 14px;
  text-transform: uppercase;
  color: $title-color;
  font-weight: 700;
  margin-top: 10px;
}

.blog-single .post-navigation a:hover .post-title {
  color: $primary-color;
}

.blog-single .blog-form {
  margin-top: 50px;
}

/*==========================================================*/
/* Responsive CSS */
/*==========================================================*/
@media only screen and (max-width: 991px) {
  /* Post Navigation */
  .post-navigation a span {
    width: 250px;
  }
  /* Latest News */
  .latest-news .latest-news-info {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* Post Navigation */
  .post-navigation a span {
    width: 150px;
  }
  /* Latest News */
  .latest-news {
    flex-direction: column;
    gap: 30px;
  }
  .latest-news .latest-news-image,
  .latest-news .latest-news-info {
    width: 100%;
  }
  .latest-news .latest-news-image img {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  /* Post Navigation */
  .post-navigation {
    flex-wrap: wrap;
    justify-content: center;
  }
  .post-navigation > div {
    flex: inherit;
  }
  .post-navigation a span {
    width: 200px;
  }

  .blog-single .post-navigation {
    flex-direction: column;
    gap: 30px;
  }
}
